* {
  box-sizing: border-box;
  text-align: center;
}
/* body {
  background: rgb(229, 233, 235);
  background: linear-gradient(
    90deg,
    rgba(229, 233, 235, 1) 0%,
    rgba(43, 136, 195, 1) 52%,
    rgba(65, 95, 97, 1) 100%,
    rgba(3, 13, 18, 1) 100%
  );
} */

input {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button {
  margin: 20px;
  width: 200px;
  padding: 15px;
  border-radius: 20px;
}

label {
  margin: 20px;
}
